<div class="login-container">
  <mat-tab-group>
    <mat-tab label="Login">
      <form #loginForm = "ngForm" class="example-form" (ngSubmit)="login()" autocomplete="off">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput name="username"
            [(ngModel)] = "model.username">
          </mat-form-field>
        
          <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password"
              [(ngModel)] = "model.password">
            </mat-form-field>
  
            <button class = "btn" type="submit">Login</button>
        </form>
    </mat-tab>

    <mat-tab label="Sign Up">
      <form #registerForm = "ngForm" class = "example-form" (ngSubmit)="register()" autocomplete="off">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput name="usernameRegister"
            [(ngModel)] = "model.username">
          </mat-form-field>
        
          <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" name="passwordRegister"
              [(ngModel)] = "model.password">
            </mat-form-field>
              <button class="btn" type="submit">Sign Up</button>
    </form>
      </mat-tab>
  </mat-tab-group>
    
</div>
